@{
    ViewData["Title"] = "Home Page";
}
<head> TopTenBooksV</head>

<h1>Welcome book lovers!</h1>
<h2>At this site, you will easily find the top ten books in the USA based on Amazon sales and N.Y.Times readership.
    The five genre of writing, as you may know are Drama, Media, Nonfiction, Poerty and Prose.  Each of these catagories are very
    large in substance, especially Media. That is why we will only list books that acually write about the Media.  Start by registering(top right)
     and/or log in if you already are registered.</h2>
<style>


    body {
        background-color: royalblue;
    }

    h1 {
        color: white;
        text-align: center;
    }

    p {
        font-family: verdana;
        font-size: 20px;
    }
</style>






